.redeSociais {
  width: 25%;
  float: right;
  display: inline-flex;
}
.icones {
  padding: 5px;
}

.faleconosco {
  padding: 28px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 160, 12);
  color: white;
  font-family: Cambria, Arial;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

form {
  font-family: Arial;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

form input,
form textarea,
form select {
  outline: unset;
  padding: 20px;
  min-width: 300px;
  border: 1px solid rgb(86, 160, 12);
  border-radius: 20px;
}

form input:focus,
form textarea:focus,
select:focus {
  background-color: rgb(243, 237, 152);
}

form input[type="submit"] {
  background-color: rgb(86, 160, 12);
  color: white;
  cursor: pointer;
}

form label,
form select {
  margin-left: 10px;
  font-weight: bold;
  color: rgb(86, 160, 12);
}
